/* defaults */
body, html {
	position: relative;
	width: 100%;
	height: 100%;
    color: #111;
	font-size: 16pt;
    line-height: 1.4em;
}

/* sections are full */
section {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

/* landing page */
#splash h1 {
	display: block;
	position: absolute;
    width: 67.7vmin;
	height: 70vmin;
	top: 50%;
    left: 15vmin;
	margin-top: -35vmin;
	background: url('../img/splash.png') no-repeat 0 0;
	background-size: 67.7vmin 70vmin; /* i did the monster math */
	text-indent: -9999px;
	overflow: hidden;
}