body {
  font-size: 10pt;
  font-family: "Courier New", Courier, Monaco, monospace;
  line-height: 1.36364em;
}

.main {
  width: 10vw;
  position: fixed;
  top: 1em;
  left: 1em;
}

.main h1 {
  margin-bottom: 1em;
}

.main ul {
  margin-bottom: 1em;
}

.main ul li {
  text-decoration: underline;
}

.main ul li a {
  color: #000;
}

.main ul li a:hover,
.link:hover {
  color: #fff;
  background-color: #000;
  text-decoration: underline;
}

.hover {
  width: 20em;
  position: fixed;
  top: 3em;
  left: 10em;
}

.hover p {
  width: 20em;
}

.hide {
  display: none;
}

.new {
  margin-top: 1em;
}

.about {
  width: 45vw;
}
