::selection {
  color: #fff;
  background-color: #000;
}

body {
  font-size: 10pt;
  font-family: 'Courier New', Courier, Monaco, monospace;
  line-height: 1.36364em;
}

.lead,
.x {
  color: #000;
  text-decoration: none;
}

.lead:hover,
.x:hover {
  background-color: #000;
  color: #fff;
}

#main {
  margin-top: 1em;
  margin-left: 1em;
}

#main h1 {
  margin-bottom: 1em;
}

#main ul {
  margin-bottom: 1em;
}

#main ul li {
  text-decoration: underline;
}

#main ul li a {
  color: #000;
}

#main ul li a:hover,
.link:hover {
  color: #fff;
  background-color: #000;
  text-decoration: underline;
}

.page {
  width: 40em;
  position: absolute;
  top: 3em;
  left: 11em;
}

.page p {
  width: 20em;
}

p.br {
  margin-top: 1em;
}

.hide {
  display: none;
}

/* side */
.side {
  position: fixed;
}

/* who */
.who {
  width: 20em;
}

/* transitions */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}
