::selection {
  color: #fff;
  background-color: #000;
}

body {
  font-size: 10pt;
  font-family: 'Ricty', 'Mplus 1p', 'Courier New', Courier, Monaco, monospace;
  line-height: 1.36364em;
}

a {
  color: #000;
  text-decoration: underline;
}

a,
button[type='button'],
button[type='button']:focus,
button[type='button']::-moz-focus-inner {
  border: 0;
  outline: none;
}

.lead,
.x {
  color: #000;
  text-decoration: none;
}

a:hover,
button.a:hover,
.lead:hover,
.x:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

button.a {
  height: 1em;
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  line-height: 1em;
}

/* main page */
#main {
  margin-top: 1em;
  margin-left: 1em;
}

#main h1 {
  margin-bottom: 1em;
}

.page {
  max-width: 40em;
  position: absolute;
  top: 3em;
  left: 11em;
  padding-bottom: 3em;
}

.br {
  margin-top: 1em;
}

.hide {
  display: none;
}

/* side */
.side {
  position: fixed;
}

.side ul {
  margin-bottom: 1em;
}

.side li ul {
  margin-bottom: 0;
}

/* navigation drawer */
.drawer {
  margin-left: 1em;
  overflow: hidden;
}

.drawer.expand {
  max-height: 10em;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.drawer.compress {
  max-height: 0em;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

/* who */
.who {
  max-width: 20em;
}

/* cv */
.cv p {
  width: 100%;
}

.cv ul {
  list-style-type: square;
}

.cv ul li {
  text-decoration: none;
}

.cv .cvname {
  margin-top: 0;
  border: none;
}

.cv .cvhead::after {
  content: '';
  clear: both;
  display: table;
}

.cv h1,
.cv h2,
.cv h3 {
  margin-top: 1em;
}

.cv .i-1 {
  margin-left: 1em;
}

.cv .i-2 {
  margin-left: 2em;
}

.cv .left {
  float: left;
}

.cv .right {
  float: right;
}

/* case studies */
.case {
  margin-bottom: 3em;
}

/* transitions */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -ms-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  -ms-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}
