body {
  font-size: 10pt;
  font-family: "Courier New", Courier, Monaco, monospace;
}

.main {
  margin: 1em;
}

.main h1 {
  margin-bottom: 1em;
}

.main ul {
  margin-bottom: 1em;
}

.main ul li {
  text-decoration: underline;
}

.hover {
  position: absolute;
}

.hide {
  display: none;
}

.new {
  margin-top: 1em;
}

.about {
  width: 45vw;
}
